.bg-dept
{
    background: linear-gradient(rgba(19, 53, 123, 0.5), rgba(19, 53, 123, 0.5)), url(../img/20231218_165208.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0 50px 0;
}

.vision
{
    max-width: 90%;
}

.row
{
    
}

.dept-box
{
    padding: 15px 25px;
    font-family: 'Roboto', sans-serif;
}

.dept-content
{
    border: 3px solid #e6e6e6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.dept-box a
{
    /* margin-top: 10px; */
    color: #656565;
    font-size: 1.15rem;
}

.dept-logo
{
    width: 140px;
    padding: 20px;
}

.dept-content:hover
{
    background-color: var(--bs-primary);
    transition: linear 0.25s;
}

.dept-content:hover a
{
    color: white;
}


.dept-content:hover .dept-logo
{
    width: 150px;
    transition: ease-in 0.1s;
}